.contenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}

.caja{
    background-color: #3498db;
    color: white;
    padding: 20px;
    font-size: 24px;
    text-align: center;
    gap: 20px;
}