h1{
    font-size: 50px;
    text-align: center;
    font-family: sans-serif;
}

.caja{
    background-color: aquamarine;
    color: black;
    padding: 25px;
    font-size: 20px;
    text-align: center;
    
}

nav ul{
    display: flex;
    flex-direction: row;
    gap: 70px;
    font-family: calibri;
}

.galeria2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
    font-family: Helvetica;
}

@media (max-width: 480px){
    .galeria2{
        grid-template-columns: repeat(1,1fr);
    }
}

footer{
    background-color: dimgray;
    font-size: 15px;
    font-family: Helvetica;
    text-align: left;
    padding: 30px;
}